name: Main

on:
  pull_request:
    branches:
      - master

jobs:
  chef-install:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@master

      - name: install chef
        uses: actionshub/chef-install@master

      - name: Debug
        run: chef -v
